*.ase filter=lfs diff=lfs merge=lfs -text # Aseprite files
*.bank filter=lfs diff=lfs merge=lfs -text # FMOD Audio Bank files
*.wav filter=lfs diff=lfs merge=lfs -text 
*.npr filter=lfs diff=lfs merge=lfs -text # Nuendo Project files
